@import "styles/variables";

.primaryBtn {
  background: $btnGradient;
  color: $white;
  border: 1px solid $pink;
  height: 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  &:active,
  &:hover,
  &:focus, {
    background: $btnGradient;
    color: $white;
  }
}


.defaultBtn {
  background-color: transparent;
  border: 1px solid $pink;
  color: $pink;
  height: 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  &:active,
  &:hover,
  &:focus, {
    color: $pink;
    background-color: transparent;
  }
}
