@import "styles/variables";

.header{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 92px 92px 180px;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url("/assets/header-abstract.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: calc(100% - 147px);
  }
  .h1{
    font-size: 46px;
    line-height: 56px;
    color: $pink;
    font-weight: normal;
    margin-bottom: 40px;
    width: 495px;
    display: flex;
    justify-content: space-between;
  }
  .h2{
    font-weight: 500;
    font-size: 59px;
    line-height: 64px;
    color: $white;
    text-shadow: $textShadow;
    margin-bottom: 45px;
    width: 495px;
  }
  .h3{
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
    color: $purple;
    margin-bottom: 45px;
    width: 495px;
  }
  .insideBtn{
    padding: 0 44px;
    .btnSvg{
      position: absolute;
      right:5px;
      path{
      fill: $white;
    }
    }
  }
}
.carousel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -60px;
  width: 521px;
  margin: auto;
}