@import "styles/variables";

.card {
  position: relative;
  width: 100%;
  height: 322px;
  .imgCard{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .detail {
    background: $cardGradient;
    padding: 20px 5px;
    position: absolute;
    z-index: 1;
    right: 0;
    margin: auto;
    overflow: hidden;
    left: 0;
    bottom: -103px;
    width: calc(100% - 12px);

    .name {
      font-weight: 500;
      font-size: 15px;
      color: $white;
      white-space: nowrap;
      margin-right: 8px;
    }

    .id {
      display: flex;
      justify-content: space-between;
      align-items: center;
    color: $whiteSmoke;
      background-color: $black;
      border-radius: 337px;
      font-size: 14px;
      padding: 0 3px;
      font-weight: normal;
      height: 20px;
      img{
        width: 18px;
        height: 16px;
      }
    }
    .label{
      font-weight: 500;
      font-size: 8px;
      color: rgba(255, 255, 255, 0.5);
    }
    .answer{
      font-weight: 500;
      font-size: 12px;
      color: $pink;
    }
    .nftBtn{
      font-size: 12px;
      height: 24px;
      width: 76px;
    }
    .line{
      position: absolute;
      width: 21.65px;
      height: 0;
      right: -17px;
      top: 13px;
      border: 1px solid rgba(130, 130, 130, 0.5);
      transform: rotate(-90deg);
    }
  }
}