@import "styles/variables";

.cards{
  padding: 93px 44px;
  position: relative;
  background-color: $grayTransparent;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url("/assets/card-abstract.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .h2{
    font-weight: 500;
    font-size: 42px;
    color: $white;
  }
  .span{
    font-weight: normal;
    font-size: 32px;
    color: $pink;
  }
}
.smallCard{
  width: 267px;
  height:322px;
}
.bigCard{
  height:528px;
  width: 488px;
}
.mbCard{
  @media (max-width: $lgMax) {
    margin-bottom: 100px;
  }
}
.cardsBtn{
  width: 264px;
  height: 43px;
  margin-top: 70px;
}