//@import "slick-carousel/slick/slick.scss";
//@import "slick-carousel/slick/slick-theme.scss";
@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Oxanium, serif;
  font-weight: 500;
  font-size: 16px;
  background-color: $black;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-slider {
  text-align: center;
}

.slick-next {
  transform: rotate(180deg);
}

.rotate-180 {
  transform: rotate(180deg);
}