$btnBorderRadius: 4px;
$borderRadius: 5px;
$boxShadow: 0px 0px 6px 0.2px #DC00BE;
$textShadow: 0px 0px 10px #DC00BE;
$navHeight: 80px;
$sm: 767px;
$mdMin: 768px;
$mdMax: 991px;
$lgMin: 992px;
$lgMax: 1199px;
$xlMin: 1200px;
$xlMax: 1399px;
$xxl: 1400px;
$fontFamily: sans-serif;

///////////Colors

$black : #000000;
$white : #FFFFFF;
$pink : #DC00BE;
$purple : #5243FE;
$gray : rgba(255, 255, 255, 0.5);
$grayTransparent : rgba(255, 255, 255, 0.05);
$inputPlaceholderGray : rgba(229, 229, 229, 0.5);;
$borderGray : #828282;
$whiteSmoke : #E5E5E5;
$btnGradient : linear-gradient(180deg, #DC00BE 0%, rgba(220, 0, 190, 0) 100%);
$cardGradient : linear-gradient(180deg, rgba(55, 53, 53, 0.7) 0%, rgba(85, 85, 85, 0) 100%);