@import "styles/variables";
.InputContainer {
  position: relative;
  width: 100%;

  input {
    font-size: 16px;
    border: 1px solid $borderGray;
    background-color: transparent;
    outline: none;
    padding: 6px;
    transition: transform 0.2s ease;
    width: 100%;
    height: 33px;
    color: #757575;
    &::placeholder {
      font-size: 12px;
      color: $inputPlaceholderGray;
    }
  }

  label {
    color: #757575;
    position: absolute;
    top: 15px;
    right: 15px;
    background: white;
    z-index: 9;
  }
}

.inputSvg{
  position: absolute;
  left: 8px;
}