@import "styles/variables";

.bg{
  padding: 10px 32px;
  background: $black;
}
.insideBtn{
  padding: 0 44px;
  .btnSvg{
    position: absolute;
    right:5px;
    path{
      fill: $pink;
    }
  }
}
.linkMenu{
  color: $gray;
  &:active,
  &:hover,
  &:focus, {
    color: $gray;
  }
}
.inputMenu{
  margin: 0 37px;
}